body{
    background-color: lightcyan;
}

/* can stack font types */
.a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline underline;
}

.b{
    text-decoration: line-through;
}

.c{
    height: 50%;
    width: 50%;
    background-color: yellowgreen;
}

div{
    height: 30px;
    background-color: salmon;
}

.shiftbox{
    height: 50px;
    width: 50px;
    background-color: navy;
    position: relative;
    top: 200px;
    left: 200px;
}

/* NOTE:
static = default/original position
absolute = relative to parent element position
relative = relative to original position
fixed = relative to browser window
inherit = take parent style
sticky (NEW)
*/