body{
    background-color: skyblue;
}

.link{
    font-size: 30pt;
}

.link:hover{
    color: red;
    background-color: salmon;
    transition-duration: 3s;
}

.link:active{
    color: white;
    background-color: red;
}

.link:visited{
    color: purple;
    background-color: orange;
}