/* parent wrapper */
.container{
    background-color: chocolate;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    /* wrap will shift items onto multiple lines if no space */
    flex-wrap: wrap;
    height:200px;
    /* align-items: flex-end; */
    align-content: center;
}

/* child item */
.item{
    background-color: orange;
    font-size: 30px;
}

.t1{
    order: 4;
}

.t2{
    order: 1;
}

.t3{
    order: 3;
}

.t4{
    order: 2;
}