#container {
    display: flex;
    height: 100vh;
}

#container2 {
    display: flex;
    height: 100vh;
}

#container3 {
    display: flex;
    height: 100vh;
}

.chart {
    flex-basis: 100%;
    flex: 1;
}